body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: paleturquoise;
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}

.container { 
    text-align: center;
    padding: 4rem;
    border-radius: 8px;
    background: palegoldenrod;
    flex: 0 0 60%;
}
button {
    display: block;
    font-size: 2rem;
    margin: 1rem auto;
    padding: 0.5rem 1rem; 
    color: black;
    background: paleturquoise;
    border-radius: 8px;
    border: 3px solid paleturquoise;
    outline: none;
}
button:hover {
    opacity: 0.8;
    cursor: pointer;
    color: white;
}
input[type=text] {
    padding: 0.5rem;
    margin: rem;
    border-radius: 5px;
    font-size: 1.5rem;
    border: 3px solid paleturquoise;
    outline: none;
}

input[type=text]:focus {
    box-shadow: 0 0 15px paleturquoise;
}

#messageOut {
    margin: 0.5rem 0;
    color: paleturquoise;
}

